.footer {
   @include adaptiv-value("margin-top", 91, 10, 1);
//  margin-top: 91px;
   &__wrapper {
   }

   &__container {
   }

   &__body {
      display: flex;
      flex-direction: column;
   }

   &__footer-download {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__footer-navigation {
      display: flex;
      justify-content: space-between;
      @include adaptiv-value("margin-top", 150, 10, 1);
      font-family: 'Avenir';
      font-weight: 800;
      @include adaptiv-value("font-size", 18, 16, 1);
      @include adaptiv-value("line-height", 25, 16, 1);
      @include adaptiv-value("margin-bottom", 85, 16, 1);
      // margin-top: 150px;
      // font-size: 18px;
      // line-height: 25px;
      // margin-bottom: 85px;
   }
}

.footer-download {

   &_title {
      font-family: 'Noto Sans';
      font-weight: 700;
      @include adaptiv-value("font-size", 24, 16, 1);
      @include adaptiv-value("line-height", 33, 16, 1);
      // font-size: 24px;
      // line-height: 33px;
      letter-spacing: 0.03em;
   }

   &__footer-link {
      @include adaptiv-value("margin-top", 32, 10, 1);
      // margin-top: 32px;
      display: flex;
      button:first-child{
         @include adaptiv-value("margin-right", 27, 10, 1);
         // margin-right: 27px;
      }
   }
}

.footer-navigation {

   &__footer-left {
      position: relative;
      z-index: 18;
   }

   &__footer-right {
      p:first-child{
         @include adaptiv-value("margin-bottom", 25, 10, 1);
         // margin-bottom: 25px;
      }
   }
}
.footer-left {
   &_circle{
      position: absolute;
      z-index: 0;
      bottom: -300px;
      left: -350px;
   }

   &_logo {
      position: relative;
      z-index: 19;
   }

   &_contact {
      @include adaptiv-value("margin-top", 7, 5, 1);
      @include adaptiv-value("width", 171, 290, 1);
      // width: 171px;
      // margin-top: 7px;
      position: relative;
      font-weight: 500;
      z-index: 20;
   }
   &_contact-bold {
      font-weight: 800;
   }

   &_copyright {
      position: relative;
      @include adaptiv-value("margin-top", 25, 10, 1);
      // margin-top: 25px;
      z-index: 21;
   }
}

