.footer {
   @include adaptiv-value("margin-top", 91, 74, 1);

   &__body {
      display: flex;
      flex-direction: column;
   }

   &__footer-download {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__footer-navigation {
      display: flex;
      justify-content: space-between;
      @include adaptiv-value("margin-top", 150, 45, 1);
      font-family: 'Avenir';
      font-weight: 800;
      @include adaptiv-value("margin-bottom", 85, 24, 1);
      font-size: 18px;
      line-height: 25px;
      @media (max-width:$md4+px){
         flex-direction: column-reverse;
         align-items: center;
      }
   }
}

.footer-download {

   &_title {
      font-family: 'Noto Sans';
      font-weight: 700;
      @include adaptiv-value("line-height", 33, 32, 1);
      font-size: 24px;
      letter-spacing: 0.03em;
   }

   &__footer-link {
      @include adaptiv-value("margin-top", 32, 45, 1);
      display: flex;
      button:first-child{
         margin-right: 27px;
      }
      @media (max-width:$md4+px){
         flex-direction: column;
         button:first-child{
            margin-right: 0;
            margin-bottom: 24px;
            img{
               width: 185px;
            }
         }
      }
   }
}

.footer-navigation {

   &__footer-left {
      position: relative;
      z-index: 18;
      @media (max-width:$md4+px){
         font-size: 14px;
         line-height: 19px;
         text-align: center;
      }
   }

   &__footer-right {
      p:first-child{
         @include adaptiv-value("margin-bottom", 25, 14, 1);
      }
      @media (max-width:$md4+px){
         text-align: center;
         margin-bottom: 58px;
      }
   }
}
.footer-left {
   &_circle{
      position: absolute;
      z-index: 0;
      bottom: -300px;
      left: -350px;
   }

   &_logo {
      position: relative;
      z-index: 19;
   }

   &_contact {
      @include adaptiv-value("margin-top", 7, 15, 1);
      @include adaptiv-value("width", 171, 220, 1);
      position: relative;
      font-weight: 500;
      z-index: 20;
   }
   &_contact-bold {
      font-weight: 800;
   }

   &_copyright {
      position: relative;
      @include adaptiv-value("margin-top", 25, 10, 1);
      z-index: 21;
   }
}

