
.header {
   &__wrapper {
		width: 100%;
		z-index: 50;
		background-color: #000;
	}
   &__body {
		display: flex;
		align-items: center;
		@include adaptiv-value("min-height", 125, 125, 1);
		@media (max-width: $md3+px) {
			justify-content: space-between;
		}
	}

   &__logo {
		position: relative;
		z-index: 2;
      display: flex;
		color: #000;
		font-weight: 700;
		@include adaptiv-value("font-size", 24, 16, 1);
		@include adaptiv-value("margin-right", 108, 24, 1);
		line-height: 1.2 * 100%;
      align-items: center;
		@media (max-width:$md3+px){
			img{
				width: 102px;
			}
		}
	}
   &__login {
		position: relative;
		z-index: 2;
      display: flex;
		font-weight: 500;
		@include adaptiv-value("font-size", 18, 14, 1);
		line-height: 1.2 * 100%;
		a{
			border-bottom: 1px solid #fff;
		}
	}
}
._icon-avatar{
	@include adaptiv-value("padding-right", 12, 5, 1);
		@include adaptiv-value("font-size", 24, 16, 1);
		@media (max-width: $md3+px) {
			display: none;
		}
}


